Repository Netflix/conductor, pull requests merged in 2021-08, with the labels that each got.

#2324 es7-persistence module migration from 2.31.4 to 3.0.6
  CHANGELOG.md
  build.gradle
  dependencies.gradle
  es7-persistence/README.md
  es7-persistence/build.gradle
  es7-persistence/dependencies.lock
  es7-persistence/src/main/java/com/netflix/conductor/es7/config/ElasticSearchConditions.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/config/ElasticSearchProperties.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/config/ElasticSearchV7Configuration.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/index/BulkRequestBuilderWrapper.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/index/BulkRequestWrapper.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/index/ElasticSearchBaseDAO.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/index/ElasticSearchRestDAOV7.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/Expression.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/FilterProvider.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/GroupedExpression.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/NameValue.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/AbstractNode.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/BooleanOp.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/ComparisonOp.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/ConstValue.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/FunctionThrowingException.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/ListConst.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/Name.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/ParserException.java
  es7-persistence/src/main/java/com/netflix/conductor/es7/dao/query/parser/internal/Range.java
  es7-persistence/src/main/resources/mappings_docType_task.json
  es7-persistence/src/main/resources/mappings_docType_workflow.json
  es7-persistence/src/main/resources/template_event.json
  es7-persistence/src/main/resources/template_message.json
  es7-persistence/src/main/resources/template_task_log.json
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/index/ElasticSearchRestDaoBaseTest.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/index/ElasticSearchTest.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/index/TestBulkRequestBuilderWrapper.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/index/TestElasticSearchRestDAOV7.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/index/TestElasticSearchRestDAOV7Batch.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/query/parser/TestExpression.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/query/parser/TestGroupedExpression.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/query/parser/internal/AbstractParserTest.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/query/parser/internal/TestBooleanOp.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/query/parser/internal/TestComparisonOp.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/query/parser/internal/TestConstValue.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/dao/query/parser/internal/TestName.java
  es7-persistence/src/test/java/com/netflix/conductor/es7/utils/TestUtils.java
  es7-persistence/src/test/resources/expected_template_task_log.json
  es7-persistence/src/test/resources/workflow.json
  server/build.gradle
  server/src/main/resources/application.properties
  settings.gradle
  test-harness/src/test/java/com/netflix/conductor/test/integration/AbstractEndToEndTest.java
Labels: type: feature

#2393 docs(systask): specify queue name conductor sink
  docs/docs/configuration/systask.md
Labels: type: docs

#2399 [redis-persistence] Prevent workflow to tasks mapping from being deleted immediately during archiving
  redis-persistence/src/main/java/com/netflix/conductor/redis/dao/RedisExecutionDAO.java
Labels: type: bug

#2408 Upgraded azure-storage-blob to 12.7.0 to fix build issue #2407
  azureblob-storage/dependencies.lock
  cassandra-persistence/dependencies.lock
  client-spring/dependencies.lock
  client/dependencies.lock
  common/dependencies.lock
  contribs/dependencies.lock
  core/dependencies.lock
  dependencies.gradle
  dependencies.lock
  es6-persistence/dependencies.lock
  grpc-client/dependencies.lock
  grpc-server/dependencies.lock
  grpc/dependencies.lock
  mysql-persistence/dependencies.lock
  postgres-persistence/dependencies.lock
  redis-lock/dependencies.lock
  redis-persistence/dependencies.lock
  rest/dependencies.lock
  server/dependencies.lock
  test-harness/dependencies.lock
  zookeeper-lock/dependencies.lock
Labels: type: dependencies

#2423 fix serverAndUI docker setup script.
  docker/serverAndUI/bin/startup.sh
Labels: type: bug

#2432 Corrected the branch name in the document
  docs/docs/gettingstarted/basicconcepts.md
  docs/docs/gettingstarted/client.md
  docs/mkdocs.yml
Labels: type: docs
