Repository Netflix/conductor, pull requests merged in 2021-06, with the labels that each got.

#2280 Update changelog with latest Postgres and MySQL properties
  CHANGELOG.md
Labels: skip-changelog

#2290 Added troubleshooting guide for docker
  docker/README.md
Labels: skip-changelog

#2327 Update systask.md
  docs/docs/configuration/systask.md
Labels: type: docs

#2279 Refactor Postgres and MySQL unit tests
  mysql-persistence/build.gradle
  mysql-persistence/src/main/java/com/netflix/conductor/mysql/config/MySQLConfiguration.java
  mysql-persistence/src/test/java/com/netflix/conductor/mysql/dao/MySQLExecutionDAOTest.java
  mysql-persistence/src/test/java/com/netflix/conductor/mysql/dao/MySQLMetadataDAOTest.java
  mysql-persistence/src/test/java/com/netflix/conductor/mysql/dao/MySQLQueueDAOTest.java
  mysql-persistence/src/test/java/com/netflix/conductor/mysql/util/MySQLDAOTestUtil.java
  mysql-persistence/src/test/resources/application.properties
  postgres-persistence/build.gradle
  postgres-persistence/src/main/java/com/netflix/conductor/postgres/config/PostgresConfiguration.java
  postgres-persistence/src/test/java/com/netflix/conductor/postgres/dao/PostgresExecutionDAOTest.java
  postgres-persistence/src/test/java/com/netflix/conductor/postgres/dao/PostgresMetadataDAOTest.java
  postgres-persistence/src/test/java/com/netflix/conductor/postgres/dao/PostgresQueueDAOTest.java
  postgres-persistence/src/test/java/com/netflix/conductor/postgres/util/PostgresDAOTestUtil.java
  postgres-persistence/src/test/resources/application.properties
Labels: type: maintenance
