Repository Netflix/conductor, pull requests merged in 2022-10, with the labels that each got.

#3255 Make fields and methods protected for CassandraExecutionDAO for extensibility
  cassandra-persistence/src/main/java/com/netflix/conductor/cassandra/dao/CassandraExecutionDAO.java
Labels: skip-changelog

#3273 Fail workflow if input to dynamic fork join task is invalid
  core/src/main/java/com/netflix/conductor/core/execution/mapper/ForkJoinDynamicTaskMapper.java
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/DynamicForkJoinSpec.groovy
Labels: type: bug

#3154 Change TaskType to be string in order to define custom task and taskMappers
  core/src/main/java/com/netflix/conductor/core/config/ConductorCoreConfiguration.java
  core/src/main/java/com/netflix/conductor/core/execution/DeciderService.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/DecisionTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/DoWhileTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/DynamicTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/EventTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/ExclusiveJoinTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/ForkJoinDynamicTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/ForkJoinTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/HTTPTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/HumanTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/InlineTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/JoinTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/JsonJQTransformTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/KafkaPublishTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/LambdaTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/SetVariableTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/SimpleTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/StartWorkflowTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/SubWorkflowTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/SwitchTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/TaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/TerminateTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/UserDefinedTaskMapper.java
  core/src/main/java/com/netflix/conductor/core/execution/mapper/WaitTaskMapper.java
  core/src/test/java/com/netflix/conductor/core/execution/TestDeciderOutcomes.java
  core/src/test/java/com/netflix/conductor/core/execution/TestDeciderService.java
  core/src/test/java/com/netflix/conductor/core/execution/TestWorkflowExecutor.java
Labels: type: maintenance

#3270 Update technicaldetails.md
  docs/docs/technicaldetails.md
Labels: type: docs

#3284 JOIN task is made async
  cassandra-persistence/src/main/java/com/netflix/conductor/cassandra/util/Statements.java
  core/src/main/java/com/netflix/conductor/core/execution/WorkflowExecutor.java
  core/src/main/java/com/netflix/conductor/core/execution/tasks/Join.java
  core/src/main/java/com/netflix/conductor/core/utils/ExternalPayloadStorageUtils.java
  core/src/test/java/com/netflix/conductor/core/utils/ExternalPayloadStorageUtilsTest.java
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/DecisionTaskSpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/DoWhileSpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/DynamicForkJoinSpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/ExternalPayloadStorageSpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/ForkJoinSpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/HierarchicalForkJoinSubworkflowRerunSpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/HierarchicalForkJoinSubworkflowRestartSpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/HierarchicalForkJoinSubworkflowRetrySpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/NestedForkJoinSubWorkflowSpec.groovy
  test-harness/src/test/groovy/com/netflix/conductor/test/integration/SwitchTaskSpec.groovy
Labels: type: important

#3297 typo fix in docs (workerdef)
  docs/docs/configuration/workerdef.md
Labels: type: docs

#3291 [Docs] Small docs fixes
  docs/docs/how-tos/Workflows/debugging-workflows.md
  docs/docs/how-tos/Workflows/starting-workflows.md
Labels: type: docs

#3308 📝 Fix typo in website nav menu
  docs/mkdocs.yml
Labels: type: docs
